---
layout: default
---

{% assign episode = page.episode %}
{% assign podcast = page.podcast %}
{% assign retired = page.retired %}

<header class="mb-12 lg:text-center lg:px-8">
  {% if retired %}
    <div class="inline-block mb-8 py-2 px-4 rounded-full border border-yellow-200 bg-yellow-200 text-yellow-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline mr-2 w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
      This show has been retired
    </div>

  {% endif %}

  <h1 class="text-4xl font-bold pb-2 font-black leading-none lg:text-5xl">
    {{ episode.name }}
  </h1>
  <div class="flex flex-col font-sm uppercase tracking-wider lg:flex-row lg:justify-center">
    <a href="/{{ podcast.slug }}" class="font-bold my-2 lg:font-normal lg:my-0">
      {{ podcast.name }}
    </a>
    <span class="hidden px-1 lg:inline">|</span>
    <span>{{ podcast.author }}</span>
  </div>
</header>

<section class="mb-12 lg:px-8">
  <p class="mb-4 leading-loose">
    {{ episode.description }}
  </p>
</section>

<section class="mb-12 lg:mb-20 lg:px-8">
  <div style="width: 100%; height: 170px; margin-bottom: 20px; border-radius: 10px; overflow:hidden;">
    <iframe style="width: 100%; height: 170px;" frameborder="no" scrolling="no" seamless src="https://player.captivate.fm/episode/{{ episode.guid }}"></iframe>
  </div>
</section>
