---
layout: default
---

{% assign podcast = page.podcast %}
{% assign episodes = page.episodes %}
{% assign retired = page.retired %}

<header class="mb-6 text-center lg:px-8">
  {% if retired %}
    <div class="inline-block mb-8 py-2 px-4 rounded-full border border-yellow-200 bg-yellow-200 text-yellow-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline mr-2 w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
      This show has been retired
    </div>

  {% endif %}

  <h1 class="text-5xl font-bold pb-2 font-black leading-tight lg:text-6xl">
    {{ podcast.name }}
  </h1>
</header>

<section class="mb-4 lg:px-8">
  <div class="flex flex-col lg:flex-row">
    <img src="{{ podcast.artwork_url }}" height="240" width="240" alt="" class="m-6 shadow-xl rounded transform -rotate-2" />

    <div class="pt-6 flex flex-col justify-center lg:p-6">
      <p class="mb-4 leading-loose">
        {{ podcast.subtitle }}
      </p>

      <p class="mb-4 leading-loose">
        By <strong>{{ podcast.author }}</strong>
      </p>
    </div>
  </div>
</section>

<section class="mb-12 lg:px-8">
  <p class="mb-4 leading-loose">
    {{ podcast.description }}
  </p>
</section>

<section class="mb-12 lg:px-8">
  <header class="flex items-center mb-8">
    <h2 class="font-bold text-2xl">Episodes</h2>
  </header>

  <ol class="ml-4 lg:ml-8">
    {% for episode in episodes %}
      <li class="pb-4">
        <a href="/{{ episode.slug }}" class="font-normal">
          <span class="font-bold mr-3">{{ episode.number }}</span>{{ episode.name }}
        </a>
      </li>
    {% endfor %}
  </ol>
</section>
